<configuration>
    <version>{{ junos_version }}</version>
    {#- **********************************************
    *   Virtual-Chassis related configuration start  *
    *********************************************** #}
    {%- if device.virtual_chassis %}
    <groups>
        <name>member0</name>
        <system>
            <host-name>{% for node in device.virtual_chassis.members.all() %}{%- if node.vc_position == 0 %}{{ node.name }}{%- endif %}{%- endfor %}</host-name>
        </system>
    </groups>
    <groups>
        <name>member1</name>
        <system>
            <host-name>{% for node in device.virtual_chassis.members.all() %}{%- if node.vc_position == 1 %}{{ node.name }}{%- endif %}{%- endfor %}</host-name>
        </system>
    </groups>
    <apply-groups>member0</apply-groups>
    <apply-groups>member1</apply-groups>
    <system>
        <commit>
            <synchronize/>
        </commit>
    </system>
    <chassis>
        <redundancy>
            <graceful-switchover>
            </graceful-switchover>
        </redundancy>
    </chassis>
    <virtual-chassis>
        <preprovisioned/>
        {%- if device.virtual_chassis.members.all() | length == 2 %}
        <no-split-detection/>
        {%- endif %}
        {%- for node in device.virtual_chassis.members.all() %}
        <member>
            <name>{{ node.vc_position }}</name>
            {%- if node.cf.vc_role == "RE" %}
            <role>routing-engine</role>
            {%- else %}
            <role>line-card</role>
            {%- endif %}
            <serial-number>{{ node.serial }}</serial-number>
        </member>
        {%- endfor %}
    </virtual-chassis>
    <routing-options>
        <nonstop-routing/>
    </routing-options>
    <protocols>
        <layer2-control>
            <nonstop-bridging/>
        </layer2-control>
    </protocols>
    {%- endif %}
    {#- **********************************************
    *   Virtual-Chassis related configuration end    *
    *********************************************** #}
    {#- **********************************************
    *        Default System configuration start      *
    *********************************************** #}
    <system>
        {%- if not device.virtual_chassis %}
        <host-name>{{ device.name }}</host-name>
        {%- endif %}
        <root-authentication>
            <encrypted-password>{{ root_passwd }}</encrypted-password>
        </root-authentication>
        <login>
            <idle-timeout>{{ login_idle_timeout | default("60", true) }}</idle-timeout>
            {%- if login["user"] %}
            {%- for usr in login["user"] %}
            <user>
                <name>{{ usr["name"] }}</name>
                <uid>{{ usr["uid"] }}</uid>
                <class>{{ usr["class"] }}</class>
                <authentication>
                    {%- for method, opt in usr["authentication"].items() %}
                    {%- if method == "ssh-rsa"%}
                    {%- for opt_val in opt %}
                    <{{ method }}>
                        <name>{{ opt_val["name"] }}</name>
                    </{{ method }}>
                    {%- endfor %}
                    {%- elif method == "encrypted-password" %}
                    {%- for opt_val in opt %}
                    <{{ method }}>{{ opt_val["name"] }}</{{ method }}>
                    {%- endfor %}
                    {%- endif %}
                    {%- endfor %}
                </authentication>
            </user>
            {%- endfor %}
            {%- endif %}
        </login>
        <services>
            <ssh>
                <root-login>allow</root-login>
                <protocol-version>v2</protocol-version>
            </ssh>
            <netconf>
                <ssh>
                    <port>{{netconf_port | default("830", true) }}</port>
                </ssh>
            </netconf>
        </services>
        {%- if domain_name %}
        <domain-name>{{ domain_name }}</domain-name>
        {%- endif %}
        {%- if time_zone %}
        <time-zone>{{ time_zone }}</time-zone>
        {%- endif %}
        {%- if authentication_order %}
        {%- for auth in authentication_order %}
        <authentication-order>{{ auth }}</authentication-order>
        {%- endfor %}
        {%- endif %}
        {%- if name_server %}
        {%- for dns_srv in name_server %}
        <name-server>
            <name>{{ dns_srv["name"] }}</name>
        </name-server>
        {%- endfor %}
        {%- endif %}
        {%- if radius_server %}
        {%- for rad in radius_server %}
        <radius-server>
            <name>{{ rad["name"] }}</name>
            <routing-instance>{{ rad["routing-instance"] }}</routing-instance>
            <secret>{{ rad["secret"] }}</secret>
            <source-address>{{ device.primary_ip.address.ip }}</source-address>
        </radius-server>
        {%- endfor %}
        {%- endif %}
        {%- if tacplus_server %}
        {%- for tac in tacplus_server %}
        <tacplus-server>
            <name>{{ tac["name"] }}</name>
            <routing-instance>{{ tac["routing-instance"] }}</routing-instance>
            <secret>{{ tac["secret"] }}</secret>
            <single-connection/>
            <source-address>{{ device.primary_ip.address.ip }}</source-address>
        </tacplus-server>
        {%- endfor %}
        {%- endif %}
        {%- if radius_options %}
        <radius-options>
            <password-protocol>{{ radius_options["password-protocol"] }}</password-protocol>
        </radius-options>
        {%- endif %}
        {%- if accounting %}
        <accounting>
            {%- if accounting["events"] %}
            {%- for event in accounting["events"] %}
            <events>{{ event }}</events>
            {%- endfor %}
            {%- endif %}
            <destination>
                {%- for proto, srv_list in accounting["destination"].items() %}
                <{{ proto }}>
                    {%- for name, props in srv_list.items() %}
                    {%- for srv in props %}
                    <server>
                        {%- for key, value in srv.items() %}
                        {%- if key == "single-connection" %}
                        <single-connection/>
                        {%- else %}
                        <{{ key }}>{{ value }}</{{ key }}>
                        {%- endif %}
                        {%- endfor %}
                        <source-address>{{ device.primary_ip.address.ip }}</source-address>
                    </server>
                    {%- endfor %}
                    {%- endfor %}
                </{{ proto }}>
                {%- endfor %}
            </destination>
        </accounting>
        {%- endif %}
        <syslog>
            <user>
                <name>*</name>
                <contents>
                    <name>any</name>
                    <emergency/>
                </contents>
            </user>
            <file>
                <name>interactive-commands</name>
                <contents>
                    <name>interactive-commands</name>
                    <any/>
                </contents>
            </file>
            <file>
                <name>messages</name>
                <contents>
                    <name>any</name>
                    <notice/>
                </contents>
                <contents>
                    <name>authorization</name>
                    <info/>
                </contents>
            </file>
        </syslog>
        {%- if ntp %}
        <ntp>
            {%- for ntp_srv in ntp["server"] %}
            <server>
                <name>{{ ntp_srv["name"] }}</name>
            </server>
            {%- endfor %}
            <source-address>
                <name>{{ device.primary_ip.address.ip }}</name>
            </source-address>
        </ntp>
        {%- endif %}
    </system>
    {#- **********************************************
    *        Default System configuration end        *
    *********************************************** #}
    {#- **********************************************
    *     DHCP Local Server configuration start      *
    *********************************************** #}
    {%- if dhcp_group_exists and dhcp_pools_default %}
    <system>
        <services>
            <dhcp-local-server>
            {%- for interface in interfaces %}
            {%- if not interface.vrf and interface.cf.dhcp_group %}
                <group>
                    <name>DHCP_GR_{{ interface.cf.dhcp_group | upper }}</name>
                    <interface>
                        <name>{{ interface["name"] }}</name>
                    </interface>
                </group>
            {%- endif %}
            {%- endfor %}
            </dhcp-local-server>
        </services>
    </system>
{#    {%- else %}
    VRF configuration
#}
    {%- endif %}
    {#- **********************************************
    *      DHCP Local Server configuration end       *
    *********************************************** #}
</configuration>